body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ecf0f1;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-Color: #2c3e50;
  }
  header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
  }
  h1 {
    margin: 0;
  }
  h2 {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 0.5rem;
  }
  section {
    background-color: #34495e;
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  ul {
    list-style-type: none;
    padding-left: 0;
  }
  li {
    margin-bottom: 0.5rem;
  }
  .skill-bar {
    background-color: #ecf0f1;
    height: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .skill-level {
    background-color: #3498db;
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease-in-out;
  }