body {
  font-family: Arial;
  line-height: 1.6;
  color: #cccccc;
  background-color: #121212;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1f1f1f;
  color: #ffffff;
  padding: 1rem;
  margin-bottom: 1rem;
}

.header-content {
  display: flex;
  align-items: center;
}

.profile-photo {
  width: 150px;
  height: 150px;
  margin-right: 20px; /* Espacio entre la foto y el texto */
}

.header-text h1 {
  margin: 0;
  color: #ffffff;
}

.header-text p {
  margin: 0.5rem 0 0 0;
  color: #cccccc;
}

h2 {
  color: #cccccc;
  border-bottom: 2px solid #444444;
  padding-bottom: 0.5rem;
}

section {
  margin-bottom: 2rem;
  padding: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

li {
  margin-bottom: 0.5rem;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav a {
  padding: 15px;
  color: #cccccc;
  text-decoration: none;
  border: 1px solid #444444;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #1f1f1f;
  position: relative;
  z-index: 1;
}

nav a.active {
  color: #ffffff;
  border: 1px solid #444444;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #121212;
  z-index: 2;
}

nav a:hover {
  background-color: #333333;
}

table {
  border-style: solid;
  border: 1px solid #444444;
  width: 100%;
  border-collapse: collapse;
}

table th, table td {
  border: 1px solid #444444;
  padding: 8px;
  text-align: left;
}

.tab-content {
  display: none;
  border: none;
  padding: 20px;
  background-color: #121212;
  position: relative;
  top: -1px;
  z-index: 0;
}

.tab-content.active {
  display: block;
}

footer {
  background-color: #1f1f1f;
  color: #cccccc;
  padding: 1rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-content p {
  margin: 0;
}

.footer-content a {
  color: #cccccc;
  text-decoration: none;
}

.footer-content a:hover {
  color: #ffffff;
}

.logo-mini img{
  height: 35px;
  width: 35px;
  padding-left: 5px;
  padding-right: 5px;
}